cn2an
cython
eng_to_ipa
faster-qwen3-tts
inflect
indic-transliteration
jamo
jieba
ko_pron
librosa
matplotlib
num_thai
numpy
opencc
protobuf
pypinyin
pyopenjtalk
scipy
soundfile
speechbrain
tensorboard
torch
torchaudio
unidecode
